!pip install datasets evaluate transformers[sentencepiece]
!pip install accelerate

!apt install git-lfs
!pip install -U git+https://github.com/huggingface/transformers@de9255de27abfcae4a1f816b904915f0b1e23cd9
!pip install anndata scib scvi wandb